# This file should be, by default, at src/main/resources to be able to be scanned by spring.

#-------------------- server properties ---------------
server.port=8080
server.error.path=/error

#-------------------- database properties -------------
DATABASE_URL:jdbc:mysql://localhost:3306/Travels
DATABASE_USERNAME:admin
DATABASE_PASSWORD:admin
